:root {
    --blu-color: #0061ff;
    --azure-color: #b4d0e7;    
}

/* common */
hr {
    margin: 3.5em 0;
    width: 20%;
}
/* utility */
.align{
    text-align: left;
}

.center {
    margin: 0 auto;
}


.mar20 {
    margin: 20px 0;
}

.w80 {
    width: 80%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* font-size */
.main-title {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-weight: bold;
}
/* btn */
.large-btn a {
    background-color: var(--blu-color);
    color: white;
    padding: 9px 20px;
    display: inline-block;
}

/* link */
ul {
    list-style-type: none;
}

li  {
    display: inline-block;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


/* header */
header {
    height: 56pc;
}

nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 5;
}

nav .logo {
    margin-left: 20px;
    width: 10%;
}

nav .logo img {
    vertical-align: middle;

}

.left-menu, .rigth-menu {
    width: 30%;
    
}

.left-menu ul li {
    margin-right: 25px;
}

.right-menu {
    margin-right: 60px;
}

.right-menu li {
    margin-left: 25px
}

.nav-btn {
   margin-right: 20px;
    
}

.nav-btn a {
    padding: 10px 20px;
    background-color:var(--blu-color);
    color: white;

}

/* jumbotron */
.jumbotron {
    width: 100%;
    height: 85%;
    margin-top: 5pc;
    background-color: var(--azure-color);
    text-align:center;
}

.jumbo-title {
    height: 45%;
    text-align: left;
    font-size: 2.7em;
}

.jumbo-title h1 {
    padding-top: 0.8em;
}

.width30, .width70 {
    height: 100%;
}

.width30 {
    width: 27%;
    
}

.description {
    width: 90%;
    font-weight: 600;
}

.undo {
    font-weight: 600;
    font-size: 0.9em;
}

.arrow {
    width: 50%;
    font-size: 2.5em;
    margin-top: 1em;
}

.jumbo-btn {
    margin: 2.5em 0 1em 0;
    
}

.width70 {
    width: 70%;
}

.jumbo-img {
    height: 500px;
    background-image: url(../img/jumbo.png);
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 8em;
    
}


/* main */
main {
    margin-top: 5em;
}

/* topsection */
.top-container {
    width: 65%;
}

 .fa-dot-circle {
     color: var(--blu-color);
    }
    
.fa-circle, 
.fa-dot-circle  {
    margin-right: 0.2em;

}

 .option {
      margin: 3em 0 2em 0;
 }

 .option ul li {
     margin-right: 1em;
 }

 .col {
     /* background-color: blue; */
     border: 1px solid lightgrey;
     height: 1100px;
     width: calc(100% / 3 - 3.35em);
 }

 .col-mid {
     margin: 0 5em;
 }

.col-plans {
    border-bottom: 1px solid lightgrey;
   

}

 .col-plans h4 {
    text-align: center;
    line-height: 3em;
    font-weight: normal;
    font-size: 1.2em;
}

.fa-building,
.fa-user,
.fa-user-plus,
.fa-pencil-alt,
.fa-folder,
.fa-check {
    margin-right: 5px;
}

.inner-col {
    height: 80%;
    margin-top: 2.5em;
}

.top-list {
    margin-top: 3.5em;
}

.plans-type ul li {
    font-size: 0.9em;
}

.col-btn {
    margin: 3.5em 0 2.5em 0;
}

.col-btn a { 
    padding: 8px 47px;
    

}

.plans-type span a {
    text-decoration: underline;
    color: var(--blu-color);
    font-weight: 600;
}

.fa-check {
    color: green;
}

.plans-details li {
    margin: 1em 0;
}

.col-hr {
    margin: 3.5em 0;
    width: 20%;
}

.wide-col {
    height: 300px;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 3em 0;
}

.width75 {
    width: 75%;
}

.width25 {
    width: 25%;
}

.wide-col-btn {
    margin: 2.5em 0 2.5em 0;
}

.wide-plans-type,
.wide-plans-details {
   margin-left: 2em;
}

.wide-plans-type {   
    margin-top: 2.5em;
}

.wide-plan-price {   
    margin: 1em 0 2.5em 2em;
}

.wide-plans-details {
    font-size: 0.9em;
    font-weight: 600;
    
}

.dropbox-partner {
    width: 100%;
    margin-top: 5em;
}

.partner-img {
    background-image: url(../img/partner.png);
    width: 52%;
    height: 30pc;
    background-size: cover;
    background-repeat: no-repeat;

}

.partner-details {
    width: 48%;
    position: relative;
}

.inner-box-details {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    margin-top: 2em;
}

.inner-box-details>p {
    margin: 2em 0;
    font-weight: 500;
}


.partner-btn a {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 600;
}
/* /top section */

/* middle section */
.mid-container {
    width: 65%;
    margin-top: 8em;
    padding-bottom: 3em;
}

.mid-container-top-row {
    margin: 3em 0;
    height: 33pc;
}

.mid-box {
    width: 350px;
    height: 460px;
    float: left;
}

.central-box {
    margin: 0 5.8em;
}

.box-description p {
    width: 90%;
    font-weight:500;
}

.box-description a {
    text-decoration: underline;
}

.box-img {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
}

#box1 {
    background-image: url(../img/business-feature-switching-tools.png);
    
}
#box2 {
    background-image: url(../img/business-feature-coordinate-it.png);
}

#box3 {
    background-image: url(../img/business-feature-multi-device.png);  
}
#box4 {
    background-image: url(../img/business-feature-integrations-it.png);
    
}
#box5 {
    background-image: url(../img/business-feature-send-files-it.png);
    
}
#box6 {
    background-image: url(../img/business-feature-security.png);
    
}
/* /middle section */
/* bottom section */

.bottom-section {
    width: 100%;
}

.bottom-title {
    width: 65%;
}

.bottom-title span {
    display: inline-block;
    margin: 1em 0;
}

.bottom-title a {
    color: var(--blu-color);
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

.bottom-left-col,
.bottom-right-col {
    width: 30%;
}

.bottom-mid-col {
    background-color: #f5f5f5;
    width: 40%;
    height: 570.88px;
}

.bottom-box {
    width: 50%;
    height: 285.44px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


#bot-box1 {
    background-image: url(../img/designit.svg);   
    background-color: #a2d39b;
    border: 0.8em solid #d0e9cd;
}
#bot-box2 {
    background-image: url(../img/arizona_state_university.svg);  
    background-color: #61082b;  
}
#bot-box3 {
    background-image: url(../img/university_of_florida.svg);   
    background-color: #0093ce;  
}
#bot-box4 {
    background-image: url(../img/topps.svg);   
    background-color: #ff1c1c;  
}
#bot-box5 {
    background-image: url(../img/world_bicycle_relief.svg);   
    background-color: #d5001f;  
}
#bot-box6 {
    background-image: url(../img/hearst_corp.svg);   
    background-color: #b4d0e7;  
}
#bot-box7 {
    background-image: url(../img/lonely_planet.svg);   
    background-color: #0d2481;  
}
#bot-box8 {
    background-image: url(../img/clear_channel.svg);   
    background-color: #ffd830;  
}

.bottom-mid-inner-col {
    width: 90%;
}

.bottom-mid-inner-col hr {
    margin: 0.5em 0 5em 0;
    width: 8%;
}

.bottom-mid-image {
    background-image: url(../img/designit_black.svg);
    width: 35%;
    height: 130px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left;
}

.bottom-mid-description p{
    margin-bottom: 5em;
}


.bottom-mid-description p,
.bottom-mid-description span {
    font-weight: 600;
}