:root {
    --blu-color: #0061ff;
    --azure-color: #b4d0e7;
    
}

/* common */
/* container */


/* utility */
.align{
    text-align: left;
}

bold {
    font-weight: bold;
}

.mar20 {
    margin: 20px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* btn */
.large-btn a {
    background-color: var(--blu-color);
    color: white;
    padding: 9px 20px;
}

.btn a {
    background-color:var(--blu-color);
    color: white;
}



/* link */
ul {
    list-style-type: none;
}

li  {
    display: inline-block;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}


/* header */
header {
    height: 95vh;
}

nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

nav .logo {
    margin-left: 20px;
    width: 10%;
}

nav .logo img {
    vertical-align: middle;

}

.left-menu, .rigth-menu {
    width: 30%;
    
}

.left-menu ul {
    text-align: left;
}

.left-menu ul li {
    margin-right: 25px;
}

.right-menu {
    margin-right: 60px;
}

.right-menu li {
    margin-left: 25px
}

.nav-btn {
   margin-right: 20px;
    
}

.nav-btn a {
    padding: 10px 20px;
}

/* jumbotron */
.jumbotron {
    width: 100%;
    height: 85%;
    margin-top: 5pc;
    background-color: var(--azure-color);
    text-align:center;
}

.jumbo-title {
    height: 45%;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 2.7em;
}

.jumbo-title h1 {
    padding-top: 0.8em;
}

.row {
    width: 80%;
    margin: 0 auto;
    
    
}

.width30, .width70 {
    height: 100%;
}

.width30 {
    width: 27%;
    
}

.description {
    width: 90%;
    font-weight: 600;
}

.undo {
    font-weight: 600;
    font-size: 0.9em;
}

.arrow {
    width: 50%;
    font-size: 2.5em;
    margin-top: 1em;
}

.jumbo-btn {
    margin: 2.5em 0 1em 0;
    
}

.width70 {
    width: 70%;
    
}

.width70 img {
    max-width: 85%;
    min-width: 30%;
}

/* main */

.container {
    height: 1200px;
    width: 65%;
    margin: 0 auto;
    /* background-color: red; */
}

.main-title {
    font-size: 1.5em;
}

 .fa-dot-circle {
     color: var(--blu-color);
    }
    
.fa-circle, 
.fa-dot-circle  {
    margin-right: 0.2em;

}

 .option {
      margin: 3em 0 2em 0;
 }

 .option ul li {
     margin-right: 1em;
 }

 .col {
     /* background-color: blue; */
     border: 1px solid lightgrey;
     height: 1100px;
     width: calc(100% / 3 - 4em);
 }

 .col-mid {
     margin: 0 5em;
 }

.col-plans {
    border-bottom: 1px solid lightgrey;
   

}

 .col-plans h4 {
    text-align: center;
    line-height: 3em;
    font-weight: normal;
    font-size: 1.2em;
}

.fa-building,
.fa-user,
.fa-user-plus,
.fa-pencil-alt,
.fa-folder,
.fa-check {
    margin-right: 5px;
}

.inner-col {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em;
}

.plans-type h3 {
    font-size: 1.6em;
}

.top-list {
    margin-top: 3.5em;
}

.plans-type ul li {
    font-size: 0.9em;
}

.col-btn {
    margin: 3.5em 0 2.5em 0;
}

.col-btn a { 
    padding: 8px 40px;
    

}

.plans-type span a {
    text-decoration: underline;
    color: var(--blu-color);
    font-weight: 600;
}

.fa-check {
    color: green;
}

.plans-details li {
    margin: 1em 0;
}

.col-hr {
    margin: 3.5em 0;
    width: 20%;
}

.wide-col {
    height: 300px;
    background-color: orange;
}